aside{
    width: 25%;
    float: left;
}

article{
    width: 75%;
    float: left;
}

footer{
    float: left;
    width: 100%;
}
header{
    float: left;
    width: 100%;
}
nav{
    float: left;
    width: 100%;
}


@media screen and (max-width: 960px){
    aside{
        width: 100%;
    }

    article{
        width: 100%;
    }

    footer{
        float: left;
    }
    header{
        float: left;
    }
}

@media screen and (max-width: 768px){
    aside{
        width: 100%;
    }

    article{
        width: 100%;
    }
}

@media screen and (max-width: 550px){ 
    aside{
        width: 100%;
    }

    article{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    aside{
        width: 100%;
    }

    article{
        width: 100%;
    }

}


header{
    background: grey;
}
nav{
    background: gray;
}
